.nav-container {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(39, 59, 59);
}

li {
    display: inline-block;
}

li a {
    display: block;
    padding: 20px;
    transition: background-color 300ms ease-in-out;
    color: white;
    font-weight: 700;
}

.logout {
    align-items: center;
    padding: 5px 10px;
}

a:link {
    text-decoration: none;
}

a:hover {
    background-color: rgba(95, 135, 184, 1);
}


