
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0; 
}

#root {
  width: 100%;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  margin: 0 auto 50px auto;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 0 auto 50px auto;
}

p {
  color: white;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/